@model WeatherApp.Models.Forecast

@if (Model != null)
{
    if (Model.LocationData!.City != null && Model.LocationData.Region != null && Model.LocationData.Country != null)
    {
        <h2>@Model.LocationData.City, @Model.LocationData.Region, @Model.LocationData.Country</h2>
    }
    string j = "";
    for (int i = 0; i < Model.ForecastChunks.Count; i++)
    {
        var chunk = Model.ForecastChunks[i];
        string today = DateTime.Now.DayOfWeek.ToString();
        if (chunk.Day == today)
        {
            <h3>Today</h3>
            <p>@chunk.Description, @chunk.Temperature</p>
            j = today;
        }
        else if (j != chunk.Day)
        {
            <h3>
    @(new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc).AddSeconds(chunk.Dt).ToLocalTime().DayOfWeek.ToString());

</h3>
            <p>@chunk.Description, @Model.GetHigh(Model.ForecastChunks, chunk.Day), @Model.GetLow(Model.ForecastChunks,
    chunk.Day)</p>
            <img src="/Images/@Model.GetIconUrl(Model.ForecastChunks, chunk.Day)" />
            j = chunk.Day;
        }
    }
}
else
{
    <p>Forecast data not available for the specified city.</p>
}