@model WeatherApp.Models.Weather

@if (Model != null)
{
    if (Model.LocationData?.City != null && Model.LocationData.Region != null && Model.LocationData.Country != null)
    {
        <h2>@Model.LocationData.City, @Model.LocationData.Region, @Model.LocationData.Country</h2>
    }
    <p>Temperature: @Model.Temperature °C</p>
    <p>Description: @Model.Description</p>
}
else
{
    <p>Weather data not available for the specified city.</p>
}